/**
 * Basic HTML element styles
 */
body { font-family:sans-serif; }

h2 { font-size:131%; font-weight:bold; margin:.5em 0; color:#036; }
h3 { font-size:123.1%; font-weight:bold;  margin:.5em 0 .25em 0; }
h4 { font-size:100%; font-weight:bold; }
a { text-decoration:none; color:#00f; }
p { margin:0 .5em .5em .5em; }

table { margin:0 .5em .5em .5em; }
th { color:#333; font-weight:bold; font-size:90%; padding:0.25em; }
td { padding:.25em; }
thead th { text-align:left; }
tbody th { text-align:right; }

ul { list-style-type:bullet; margin-left:1em; padding:0; }
li { margin:0; }

fieldset { padding:.25em 0; }
legend { font-weight:bold; }
label { font-weight:bold; }

/**
 * Base styles for buttons and button links
 */
button, .button {
	border:1px solid #777; border-radius:4px;
	display:inline-block;
	padding:0 10px 0 30px;
	font-size:16px; font-weight:bold;
}
.add { background:url('images/plus_button.png') left center no-repeat; }
.edit, .change { background:url('images/pencil_button.png') left center no-repeat; }
.search { background:url('images/buttonBackground.png') left center no-repeat; padding-left:10px; }
.submit, .login { background:url('images/check_button.png') left center no-repeat; }
.delete { background:url('images/x_button.png') left center no-repeat; }

/**
 * Banner
 */
header { color:#fff; background-color:#036; margin:0; }
header a { color:#fff; font-weight:bold; }
header h1 { margin:0 4px; font-size:174%; }
header div { margin:4px; }
header nav {
	margin-top:5px; padding:5px;
	background-color:#fff;
	border-top:2px solid #000; border-bottom:2px solid #000;
}
header nav a { font-weight:bold; color:black; margin-right:1em; }

/**
 * Side Panel
 */
#panel-one nav {
	border:2px solid #000; margin-bottom:0.5em;
	border-radius:10px;
	overflow:hidden;
}
#panel-one h2 {
	background-color:#036; color:#fff;
	border-bottom:2px solid #000;
	margin:0; padding:.25em;
}
#panel-one ul { margin:.25em; padding:0; }
#panel-one li { margin-bottom:.25em; }
#panel-one a { font-weight:bold; color:#000; }

/**
 * Main Content
 */
#errorMessages { background-color:#fcc; padding:4px; border-radius:10px; }
#errorMessages h2 {
	padding-left:20px;
	background:url('images/emblem-important.png') left center no-repeat;
}
